.top-title
  イベントの検索
.events-search
  .events-name
    イベント名
  .input-group
    %input.form-control{:type => "text"}/
  %input.btn.btn-primary{:type => "submit", :value => "検索"}/

.display-list
  イベント一覧
.container
  .row.row-eq-height
    - @posts.each do |post|
      .col-md-4
        .box
          %h3
            = post.name.truncate(12)
          = link_to event_path(post.id) do
            = image_tag post.image.url, class: 'box-image'
          = post.text.truncate(23)
= paginate(@posts)
