%h5.description
  全国各地で行われている将棋イベントの紹介サイトです。
  %br/
  皆様の投稿をお待ちしております。
  
.top-title
  イベントの検索
.events-search
  .events-name
    イベント名
= form_tag(events_path, method: "get", class: "input-group") do
  = text_field_tag :search
  = submit_tag "検索" ,name: nil ,class: "btn btn-primary"

.display-list
  イベント一覧
.container
  .row.row-eq-height
    - @posts.each do |post|
      .col-md-4
        .box
          .event-name
            = post.name.truncate(16)
          = link_to event_path(post.id) do
            = image_tag post.image.url, class: 'box-image'
          = post.text.truncate(23)
= paginate(@posts)
