.top-title
  イベントの検索
.events-search
  .events-name
    イベント名
  .input-group
    %input.form-control{:type => "text"}/

  .events-place
    場所
  .input-group
    %input.form-control{:type => "text"}/
  %input.btn.btn-primary{:type => "submit", :value => "検索"}/


.display-list
  イベント一覧
.container
  .row.row-eq-height
    .col-md-4
      .box
        %h3 ３カラム見出しテキスト
        .item-box-image
          = image_tag 'ダウンロード.jpeg', class: 'item-image'
        テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
    .col-md-4
      .box
        %h3 ３カラム見出しテキスト
        .item-box-image
          = image_tag 'ダウンロード.jpeg', class: 'item-image'
        テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
    .col-md-4
      .box
        %h3 ３カラム見出しテキスト
        .item-box-image
          = image_tag 'ダウンロード.jpeg', class: 'item-image'
        テキスト
    .col-md-4
      .box
        %h3 ３カラム見出しテキスト
        .item-box-image
          = image_tag 'ダウンロード.jpeg', class: 'item-image'
        テキスト
    .col-md-4
      .box
        %h3 ３カラム見出しテキスト
        .item-box-image
          = image_tag 'ダウンロード.jpeg', class: 'item-image'
        テキスト
    .col-md-4
      .box
        %h3 ３カラム見出しテキスト
        .item-box-image
          = image_tag 'ダウンロード.jpeg', class: 'item-image'
        テキスト
    .col-md-4
      .box
        %h3 ３カラム見出しテキスト
        .item-box-image
          = image_tag 'ダウンロード.jpeg', class: 'item-image'
        テキスト

-# %a.btn.btn-primary{:href => "#", :role => "button"} Link
-# %button.btn.btn-primary{:type => "submit"} Button
-# %input.btn.btn-primary{:type => "button", :value => "Input"}/
-# %input.btn.btn-primary{:type => "submit", :value => "Submit"}/
-# %input.btn.btn-primary{:type => "reset", :value => "Reset"}/

